<%- include('../includes/header.html'); %>

<body>

    <!-- PRE LOADER -->

    <div class="preloader">
        <div class="sk-spinner sk-spinner-wordpress">
            <span class="sk-inner-circle"></span>
        </div>
    </div>

    <%- include('../includes/navigation.html'); %>
    <!-- Home Section -->


    <!-- Blog Section -->

    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h2>Register</h2>
                    <!-- <% if(formData) { %>
                    <pre><%- formData.firstName %></pre>
                    <%}%> -->
                    <% if(registerError) { %>
                    <div>
                        <% registerError.forEach((val, i) =>{ %>
                        <p class="text-danger">
                            <%- val.trim() %>
                        </p>
                        <%}) %>
                    </div>
                    <% } %>
                    <form action="/user/register" method="POST" autocomplete="off">
                        <div class="col-md-12 col-sm-12">
                            <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name"
                                value="<%- formData ? formData.firstName : '' %>">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name"
                                value="<%- formData ? formData.lastName : '' %>">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <input name="email" type="text" class="form-control" id="email" placeholder="Email" value="<%- formData ? formData.email : '' %>">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <input name="password" type="password" class="form-control" id="password" placeholder="Password"
                                value="">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <input type="submit" class="form-control" id="register" value="Register Now">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer Section -->

    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>Neuron Studio</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <div class="footer-copyright">
                        <p>Copyright &copy; 2017 Your Company - Design: Tooplate</p>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Talk to us</h3>
                    <p><i class="fa fa-globe"></i> 512 Delicious Street, San Francisco, CA 10880</p>
                    <p><i class="fa fa-phone"></i> 010-020-0990</p>
                    <p><i class="fa fa-save"></i> info@company.com</p>
                </div>

                <div class="clearfix col-md-12 col-sm-12">
                    <hr>
                </div>

                <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-dribbble"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- Back top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
    <%- include('../includes/footer.html'); %>